
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.hero {
    background: url('ejemplocodigopython.jpg') no-repeat center center/cover;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h1 {
    font-size: 4em;
    margin: 0;
}

.hero .buttons {
    margin-top: 20px;
}

.hero .btn {
    background: #00b894;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
    transition: background 0.3s;
}

.hero .btn:hover {
    background: #019166;
}

.about, .services, .contact {
    background: #161B22;
    padding: 50px 0;
    text-align: center;
}

.about h2, .services h2, .contact h2 {
    font-size: 2.5em;
}

.about h2 span, .services h2 span, .contact h2 span {
    color: #852424;
}

.about p, .services p {
    margin: 20px 0;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.profile img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-right: 30px;
}

.details {
    text-align: left;
}

.details h3 {
    font-size: 2em;
    margin: 0;
}

.details ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.details ul li {
    margin: 10px 0;
}

.details .btn {
    background: #00b894;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.details .btn:hover {
    background: #019166;
}

.info-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.info-table th, .info-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.info-table th {
    background-color: #00b894;
    color: white;
}

.info-table tr:hover {
    background-color: #ddd;
    color: #333;
}

.project {
    padding: 50px 0;
    background-color: #161B22;
    text-align: center;
}

.project h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.project span {
    color: #852424;
}

.project .project-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project a img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.project a img:hover{
    transform: scale(1.1);
}

.project .project-description {
    margin-top: 20px;
    text-align: left;
    max-width: 600px;
}

.contact .form-group {
    margin-bottom: 20px;
}

.contact label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact input, .contact textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.contact button {
    background: #00b894;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.contact button:hover {
    background: #019166;
}

footer {
    background: #161B22;
    padding: 20px 0;
    text-align: center;
}

.social-media {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-media li {
    display: inline;
}

.social-media a img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
}

.social-media a img:hover {
    transform: scale(1.1);
}

.toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

.toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Media Queries */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 3em;
    }
    
    .hero .buttons {
        flex-direction: column;
    }
    
    .hero .btn {
        margin: 10px 0;
    }
    
    .profile {
        flex-direction: column;
    }
    
    .profile img {
        margin-right: 0;
        margin-bottom: 20px;
    }
    
    .details {
        text-align: center;
    }
    
    .details ul {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 2.5em;
    }
    
    .container {
        width: 90%;
    }
    
    .about h2, .services h2, .contact h2 {
        font-size: 2em;
    }
    
    .profile img {
        width: 150px;
        height: 150px;
    }
    
    .details h3 {
        font-size: 1.5em;
    }
    
    .contact .form-group {
        margin-bottom: 15px;
    }
    
    .contact button {
        padding: 10px;
    }
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@media (max-width: 768px) {
    .info-table, .info-table th, .info-table td {
        display: block;
        width: 100%;
    }
    .info-table th, .info-table td {
        box-sizing: border-box;
    }
    .info-table tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 768px) {
    .project .project-content {
        flex-direction: row;
        justify-content: center;
    }

    .project img {
        margin-right: 20px;
    }
}